{
  "swagger": "2.0",
  "info": {
    "title": "Power BI Metadata (Swagger 2.0)",
    "version": "1.1.0",
    "description": "Swagger 2.0 for Informatica REST V2 covering Power BI metadata."
  },
  "schemes": [ "https" ],
  "host": "api.powerbi.com",
  "basePath": "/v1.0/myorg",
  "securityDefinitions": {
    "oauth2_cc": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://login.microsoftonline.com/YOUR_TENANT_ID/oauth2/v2.0/token",
      "scopes": {
        "https://analysis.windows.net/powerbi/api/.default": "Power BI Service default permissions"
      }
    }
  },
  "security": [ { "oauth2_cc": [] } ],
  "paths": {
    "/groups": {
      "get": {
        "operationId": "ListGroups",
        "summary": "List workspaces (groups)",
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/ListGroupsResponse" } }
        }
      }
    },
    "/groups/{groupId}/reports": {
      "get": {
        "operationId": "ListReportsInGroup",
        "summary": "List reports in a workspace",
        "parameters": [
          { "name": "groupId", "in": "path", "required": true, "type": "string" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/ListReportsResponse" } }
        }
      }
    },
    "/admin/reports/{reportId}/users": {
      "get": {
        "operationId": "GetReportUsersAsAdmin",
        "summary": "Get users who have access to a report (Admin)",
        "parameters": [
          { "name": "reportId", "in": "path", "required": true, "type": "string" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/ListReportUsersResponse" } }
        }
      }
    },
    "/groups/{groupId}/datasets/{datasetId}": {
      "get": {
        "operationId": "GetDatasetInGroup",
        "summary": "Get dataset details in a workspace",
        "parameters": [
          { "name": "groupId", "in": "path", "required": true, "type": "string" },
          { "name": "datasetId", "in": "path", "required": true, "type": "string" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/Dataset" } }
        }
      }
    },
    "/groups/{groupId}/datasets/{datasetId}/datasources": {
      "get": {
        "operationId": "ListDatasourcesForDataset",
        "summary": "List datasources for a dataset",
        "parameters": [
          { "name": "groupId", "in": "path", "required": true, "type": "string" },
          { "name": "datasetId", "in": "path", "required": true, "type": "string" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/ListDatasourcesResponse" } }
        }
      }
    },
    "/admin/widelySharedArtifacts/linksSharedToWholeOrganization": {
      "get": {
        "operationId": "ListLinksSharedToWholeOrganization",
        "summary": "List org-wide shared links (Admin) with continuation",
        "parameters": [
          { "name": "continuationToken", "in": "query", "required": false, "type": "string" }
        ],
        "produces": [ "application/json" ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/ListOrgWideLinksResponse" } }
        }
      }
    }
  },
  "definitions": {
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/Group" }
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": { "type": "string" },
        "name": { "type": "string" },
        "isOnDedicatedCapacity": { "type": "boolean" }
      }
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/Report" }
        }
      }
    },
    "Report": {
      "type": "object",
      "properties": {
        "id": { "type": "string" },
        "name": { "type": "string" },
        "datasetId": { "type": "string" },
        "webUrl": { "type": "string" },
        "reportType": { "type": "string" }
      }
    },
    "ListReportUsersResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/ReportUser" }
        }
      }
    },
    "ReportUser": {
      "type": "object",
      "properties": {
        "reportUserAccessRight": { "type": "string" },
        "emailAddress": { "type": "string" },
        "displayName": { "type": "string" },
        "identifier": { "type": "string" },
        "graphId": { "type": "string" },
        "principalType": { "type": "string" },
        "userType": { "type": "string" }
      }
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "id": { "type": "string" },
        "name": { "type": "string" }
      }
    },
    "ListDatasourcesResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/Datasource" }
        }
      }
    },
    "Datasource": {
      "type": "object",
      "properties": {
        "datasourceId": { "type": "string" },
        "datasourceType": { "type": "string" },
        "displayName": { "type": "string" },
        "connectionDetails": {
          "type": "object",
          "additionalProperties": true,
          "properties": {
            "server": { "type": "string" },
            "database": { "type": "string" }
          }
        }
      }
    },
    "ListOrgWideLinksResponse": {
      "type": "object",
      "properties": {
        "ArtifactAccessEntities": {
          "type": "array",
          "items": { "$ref": "#/definitions/ArtifactAccessEntity" }
        },
        "continuationToken": { "type": "string" }
      }
    },
    "ArtifactAccessEntity": {
      "type": "object",
      "properties": {
        "artifactId": { "type": "string" },
        "displayName": { "type": "string" },
        "artifactType": { "type": "string" },
        "accessRight": { "type": "string" },
        "shareType": { "type": "string" },
        "sharer": {
          "type": "object",
          "additionalProperties": true,
          "properties": {
            "emailAddress": { "type": "string" },
            "displayName": { "type": "string" },
            "identifier": { "type": "string" },
            "graphId": { "type": "string" },
            "principalType": { "type": "string" }
          }
        }
      }
    }
  }
}
